@import "../../scss/mixins";

.app {
  font-family: "Inter", "open-sans", sans-serif;
  background-color: #fff;
  margin: 0 auto;
  position: relative;
  min-width: 320px;
  color: #000;
  min-height: 101vh;
}

html {
  scroll-behavior: smooth;
}

.title {
  @include reset;
  @include text-format(400, 22px, 27px);
  letter-spacing: -0.04em;
  color: #000;
  padding-bottom: 20px;
  border-bottom: 1px solid #000;
}

.container {
  width: 100%;
  max-width: 1140px;
}

.form-container {
  width: 100%;
  max-width: 410px;
}
