@import "../../scss/mixins";

.searchForm {
  width: 100%;
  @include flex-center-between;

  &__wrapper {
    width: 100%;
    @include flex-center-between;
    margin: 0 auto;
    padding: 80px 0;
    gap: 40px;
    border-bottom: 1px solid #E8E8E8;
  }

  &__form-wrapper {
    @include flex-center-between;
    border: 1px solid #E8E8E8;
    padding: 7px;
    border-radius: 30px;
    width: 100%;
  }

  &__input {
    @include reset;
    border: none;
    width: 100%;
    height: 100%;
    outline: none;
    margin-left: 20px;
  }

  &__switch {
    @include flex-center;

    &-title {
      @include reset;
      @include text-format(400, 13px, 18px)
    }
  }
}