@import "../../scss/mixins";

.footer {
  @include flex-center-center;
  margin: 0 auto;
  align-self: flex-end;

  &__wrapper {
    @include flex-column;
    align-items: center;
  }

  &__text {
    @include reset;
    @include text-format(400, 13px, 16px);
    align-items: center;
    margin: 78px auto 20px auto;
    color: #A0A0A0;
  }

  &__background {
    @include flex-center-between;
    width: 100%;
    border-top: solid 1px #E8E8E8;
    padding: 20px 0;
  }

  &__year {
    @include reset;
    @include text-format(400, 13px, 16px)
  }

  &__links {
    @include flex-center;
    gap: 20px;
  }

  &__link {
    @include reset;
    @include text-format(400, 13px, 16px);
    text-decoration: none;
    transition: color ease-in-out 0.2s;
    color: #000;

    &:hover {
      color: #2BE080;
    }

  }
}