@import "../../scss/mixins";

.techs {
  width: 100%;
  background-color: #F5F5F5;
  @include flex-center-center;

  &__wrapper {
    margin: 100px 0;
  }

  &__content {
    margin-top: 90px;
    @include flex-center-center;
    @include flex-column;
    gap: 100px;
  }

  &__text {
    @include flex-column;
    max-width: 455px;
    gap: 26px;
  }

  &__title {
    @include reset;
    @include text-format(400, 50px, 58px);
    letter-spacing: -0.04em;
    text-align: center;
  }

  &__paragraph {
    @include reset;
    @include text-format(400, 14px, 20px);
    letter-spacing: -0.04em;
    text-align: center;
  }

  &__skills{
    @include reset-list;
    @include flex-center-between;
    gap: 10px;
  }

  &__skill {
    @include reset;
    @include text-format(400, 14px, 17px);
    letter-spacing: -0.04em;
    padding: 21px 26px;
    background: #E8E8E8;
    border-radius: 10px;
  }
}