@import "../../scss/mixins";

.navTab {
  width: 100%;
  min-height: 66px;
  background-color: #000;
  @include flex-center-center;
  gap: 40px;

  &__tab {
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    text-decoration-line: underline;
    color: #FFF;
    transition: color ease-in-out 0.2s;

    &:hover {
      color: #2BE080;
    }

  }
}